APP_ORIGIN=http://localhost:8787
PASSWORD_KDF_VERSION=1
PASSWORD_KDF_ITERATIONS=100000
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
REGISTER_LIMIT=10
LOGIN_IP_LIMIT=20
LOGIN_USER_LIMIT=10
MERIT_LIMIT=30
